.container {
  max-width: 80%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.cards{
  display: grid;
  grid-template-columns: repeat(auto-fit, 275px);
  gap: 20px;
  justify-content: space-between;
}