@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Ubuntu&display=swap');

html {
  overflow-y: scroll;
}

.container {
  font-family: 'Roboto', sans-serif;
  max-width: 80%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.cards{
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, 275px);
  gap: 20px;
  justify-content: space-between;
}